server:
  port: 4000

spring:
  application:
    name: sharehub-backend
  profiles:
    active: default
  datasource:
    url: jdbc:mysql://localhost:3306/sharehub_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Yashitha@2005
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      max-file-size: 10GB
      max-request-size: 10GB
      enabled: true
  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration

app:
  jwt:
    secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
    expiration-ms: 86400000 # 24 hours
  storage:
    location: ${user.home}/sharehub-storage
    max-file-size: 10737418240 # 10GB

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.sharehub: DEBUG
